/* Light mode */
.lw { 
  font-size: 23px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:black;
}

#cellContainer{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  background-color: rgb(84, 0, 193);
  border: 4px solid black;
  border-radius: 10px;
  padding: 10px;
}

.square{
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #333;
  background-color: #904bff;
  border: 2px solid rgb(14, 0, 72);
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:yellow;
}

.square:hover{
  background-color: #8c64ff;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#restartBtn{
  background-color: #bf97ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: all 0.2s ease-in-out;
}


#restartBtn:hover{
  background-color: #fff;
  color: #bf97ff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

/* Dark mode */
.lw.dark-mode { 
  font-size: 23px;
  color: #ccc;
}

body.dark-mode{
  background-color: #191919;
  color:white;
}

#cellContainer.dark-mode{
  background-color: #333;
  border-color: #eee;
}

.square.dark-mode{
  color: #eee;
  background-color: #111;
  border-color: #eee;
}

.square.dark-mode:hover{
  background-color: #8c64ff;
  color: #fff;
  box-shadow: 0 4px 8px rgba(255,255,255,0.3);
}

#restartBtn.dark-mode{
  background-color: #333;
  color: #eee;
  box-shadow: 0 2px 4px rgba(255,255,255,0.3);
}

#restartBtn.dark-mode:hover{
  background-color: #eee;
  color: #333;
  box-shadow: 0 4px 8px rgba(255,255,255,0.3);
}

button {
  background-color: #bf97ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #fff;
  color: #bf97ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

/* Dark mode */
body.dark-mode button {
  background-color: #333;
  color: #eee;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

body.dark-mode button:hover {
  background-color: #eee;
  color: #333;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content button {
  margin-top: 20px;
}

.modal.show {
  display: block;
}